html {
  background-color: #131516;
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0;
}

video {
  height: 100%;
  width: 100%;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-weight: 700;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

a {
  color: #f7931a;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: white;
}

button, input, select, textarea {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-weight: 700;
  background-color: #000;
  color: #fff;
  border: 2px solid #f7931a;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}

button:hover, input[type=submit]:hover {
  background-color: #f7931a;
  color: #000;
}